<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Loops</title>
</head>
<body>
    <h1>For Loops</h1>
    <h2>Campeones Europeos</h2>
    <h3>Equipos con mas Titulos Europes</h3>
    <ul>
        <!-- iterando una lista con jinja for -->
        {% for team in teams %}
            <li>
                {{team}}
            </li>
        {% endfor %}
    </ul>

    <h3>Equipos con Numero de Champions Gandas</h3>
    <ul>
        <!-- iterando un diccionario con jinja usando for recuerda cosnideran el .items() -->
        {% for key, value in teams_cham.items() %}
            <li>
                {{ key|e +" teine "+ value|e +" Titulos de Champions ganadas." }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>