<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expresiones</title>
</head>
<body>
    <h2>expresiones</h2>
    <p>
        Bienvenido {{nombre}} {{apellido}} tu color favorito es el {{color}}
    </p>
    <h3>Expresiones matematicas</h3>
    <p>
        la base de l triagulo es de {{base}} cms y la altura es de {{altura}}cms
    </p>
    <p>
        <!-- operaicones matematicas -->
        El area del triangulo es de {{base*altura/2}}cm
    </p>
    <p>
        <!-- concatenacion -->
         Bienvenido {{nombre+" "+apellido}}
    </p>
</body>
</html>