<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Titulo por defecto {% endblock %}</title>
</head>
<body>
    {% block header%}
        <header>
            {% block h1%}
                <h1>MI Sitio Web</h1>
            {% endblock %}
            
        </header>
    {% endblock %}

    <main>
        {% block contenido%}
            <h2>Contenido</h2>
        {% endblock %}

    </main>
    <footer>
        @ 2025 todod los derechos reservados.
    </footer>
</body>
</html>